@import "tailwindcss";
@plugin "daisyui";

/* Light Theme (Default) */
@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #FAFAF7;
  --color-base-200: #EDEDED;
  --color-base-300: #0A0100;
  --color-accent: #706f6f;
  --color-primary: #11B2ED;
  --color-foreground: #e5e7eb;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-base-100: #2A2A2A;
  --color-base-200: #0a0a0a;
  --color-base-300: #FFFFFF;
  --color-accent: #B0ABAB;
  --color-primary: #11B2ED;
  --color-foreground: #030712;
 }

/* body {
  @apply transition-colors duration-300;
  font-family: Arial, Helvetica, sans-serif;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}