@import "tailwindcss";
@plugin "daisyui";

/* Light theme (default) */
:root {
  --color-base-100: #0a0a0a;
  --color-base-200: #111827;
  --color-base-300: #ffffff;
 
  --color-primary: #11B2ED;
  --color-accent: #9ca3af;
}


body {
  @apply bg-base-100 text-base-content;
  font-family: Arial, Helvetica, sans-serif;
}
